# Test of Notebook Diff tool ReviewNB
https://www.reviewnb.com/

In [1]:
import random
import json
import pandas as pd

In [2]:
df = pd.DataFrame(dict(cid=[1, 2, 3, 4], data=['a', 'b' ,'c', 'd']))
df.head()

   cid data
0    1    a
1    2    b
2    3    c
3    4    d