# Investigation into Suprise module for building recommendations

Using Blog post http://blog.fastforwardlabs.com/2018/01/22/exploring-recommendation-systems.html

and surprise module https://github.com/NicolasHug/Surprise

In [13]:
import numpy as np
import pandas as pd
import re
import os
from pandas.plotting import scatter_matrix

get_ipython().magic(u'env OMP_NUM_THREADS=2')

from IPython.display import display, HTML

%matplotlib inline
import matplotlib.pyplot as plt

import seaborn

import surprise

#get_ipython().magic(u'matplotlib')
#get_ipython().magic(u'matplotlib inline')

# Set the ransom seed used for the whole program to allow reprocibility
np.random.seed(3214412)

DEBUG = True # If true, pull a sample of the dataset for development

env: OMP_NUM_THREADS=2

In [14]:
raw_df = pd.read_csv('ratings.csv')
raw_df.head()

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

In [16]:
data_df = pd.DataFrame.copy(raw_df)
if DEBUG:
    data_df = data_df.sample(n=100000)
else:
    del raw_df  # Save on some memory

In [20]:
print("Count of users: {}".format(data_df.userId.nunique()))
print("Count of movies: {}".format(data_df.movieId.nunique()))
print("Count of ratings: {}".format(data_df.rating.nunique()))
print("Ratings: {}".format(', '.join(map(str, data_df.rating.sort_values().unique()))))

Count of users: 58706
Count of movies: 9487
Count of ratings: 10
Ratings: 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0

# Initial Recommendations
If the user saw the movie, chalk it up as a 1 and recommend from these 1/0 values

In [22]:
recs_as_binary_df = pd.DataFrame.copy(data_df[['userId', 'movieId']])
recs_as_binary_df.head()

          userId  movieId
231381      2484     2001
3262121    33940     1409
15935743  165778      743
24673730  256471     1036
18393560  190907     2080